/.idea

/SET-1/cmake-build-debug
/SET-1/.idea
/SET-2/cmake-build-debug
/SET-2/.idea
/SET-3/cmake-build-debug
/SET-3/.idea
/SET-4/cmake-build-debug
/SET-4/.idea
/SET-5/cmake-build-debug
/SET-5/.idea
/SET-6/cmake-build-debug
/SET-6/.idea
/SET-7/cmake-build-debug
/SET-7/.idea
/SET-8/cmake-build-debug
/SET-8/.idea